########################################################
##### RecBlast web-server requirements for python2 #####
########################################################
uuid
flask
werkzeug
biopython
argparse
mygene
redis
rq
boto3
botocore
pandas
matplotlib
seaborn
