########################################################
##### RecBlast web-server requirements for python2 #####
########################################################
uuid>=1.30
flask
werkzeug
biopython>=1.6
argparse>=1.4
requests>=2.10
mygene>=2.3
redis
rq
boto3
botocore
numpy
pandas
matplotlib
seaborn
