.welcome-banner {
    background: url('/imgs/congruent_pentagon.png');
}

.map {
    display: inline-block;
    margin: 3% auto;
    padding-left: 2%;
    padding-right: 2%;
    vertical-align: middle;
    width: 10%;
}

.same_category {
    display: block;
    float: left;
    margin: 1%;
}
