.welcome-banner {
    background: url('/imgs/congruent_pentagon.png');
}


img {
    float:inherit;
    display: block;
    margin: auto;
    width: 40%;
}

.img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}