/* =================================
  Base Styles
==================================== */

* {
	box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}


nav select {
  display: none;
}

fieldset {
  border: 2px solid #3acec2;
  border-radius: 4px;
}

input[type=number]{
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type="submit"]{
    text-align:center;
    background-color: #3acec2;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px 4px 2px;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}


table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color: black;
    color: white;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.5em;
  text-align:center
}

h1,h2,
h3,
a {
	color: #093a58;
  text-align:center
}

h1,h2,
h3 {
	margin-top: 0;
  text-align:center
}

a {
	text-decoration: none;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
}

.name,
.main-nav li {
	text-align: center;
	background: #fff;
	margin-top: 6px;
	margin-bottom: 6px;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;

}

.main-header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: #3acec2;
	margin-bottom: 30px;
  text-align:center;
}

.main-footer {
	text-align: center;
	padding: 2em 0;
	background: #d9e4ea;

}

legend {
  font-weight: bold;
}

#buttons li {
    float: left;
    list-style: none;
    font-weight: bold;
    text-align: center;
    background-color: #f8f8f8;
    margin-right: 50px;
    width: 190px;
    line-height: 60px;
    text-decoration: none;
    display: inline-block;
    border: none;
    padding: 0;

}

#buttons li{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#buttons li :hover {
    background-color: white; /* Green */
    color: black;
}

ul {
    display: table;
    margin: 0 auto;
}

img {
    float:inherit;
    display: block;
    margin: auto;
    width: 40%;
}

/* new */

div {
    display: block;
}

.same_category .map {
    display: inline-block;
    margin: 0 auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
    vertical-align: middle;
    width: 40%;
    height: 40%;
}

.imgs {
    display: inline-block;
    margin: 0 auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
    vertical-align: middle;
    width:100%;
    height:auto;
}


/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

	.wrap {
		min-height: calc(100vh - 89px);
	}

	.container {
		width: 80%;
		max-width: 1150px;
		margin: 0 auto;
	}

}



