{% extends "base.html" %}
{% block title %}RecBlast: About us{% endblock %}
{% block content %}

    <div class="jumbotron welcome-banner">
        <h1>About us</h1>
        <p></p>
    </div>

    <div class="row">
        <div class="col-md-7 col-md-offset-1">
            <p class="lead">
                RecBlast was brought to you by an enthusiastic team at Tel-Aviv University which
                truly believes that cloud computing is the future of computational biology.
                RecBlasts' code is open source, and we welcome contributions: http://github.com/recblastoosh
            </p>
            <p class="lead">
                Please feel free to contact us at any time:<br></p>
            <p><a href="mailto:recblast@gmail.com>recblast@gmail.com</a>
            </p>
        </div>

        <div class="col-md-3">
            <div class="center-block">
                <img src="/imgs/f6b5b0689bb25541c51811d723864c8e.jpg" alt="" class="img-responsive img-thumbnail"/>
                <br/><br/>
{#                <img src="/imgs/moran.jpg" alt="" class="img-responsive img-thumbnail"/>#}
{#                <br/><br/>#}
{#                <img src="/imgs/efrat.jpg" alt="" class="img-responsive img-thumbnail"/>#}
{##}
            </div>


        </div>
    </div>


{% endblock %}


