<!DOCTYPE html>
<html>
<head>
    <title>RecBlast</title>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<header class="main-header">
    <div class="container">
        <h2 class="name">Welcome to RecBlast</h2><br>
        <h1 class="subname">High throughput orthology discovery method</h1>
        <h3 id=home><a href="index">Home</a></h3>


    </div>
</header>
<body>
<div class='wrap'>
    <div class="container">
        <h3>About Us</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a malesuada felis, sed iaculis dolor. Mauris
            ac ligula eu risus dictum congue ac eu neque. Maecenas dignissim odio at lectus consequat dapibus. Aliquam
            egestas ut ipsum eu bibendum. Nam eu lacus eu risus rhoncus aliquet eget ac sapien. Fusce viverra suscipit
            velit at ultricies. Fusce eget massa ante. Phasellus ultrices imperdiet faucibus. Suspendisse auctor, purus
            et fermentum iaculis, turpis elit tempus leo, ut consectetur ipsum felis nec lectus. Quisque ultrices
            tincidunt augue, at mattis risus efficitur sed. Integer aliquet malesuada tellus, quis condimentum magna
            tempor sed. Proin consequat enim lacinia placerat feugiat. <br><br>.
            Aliquam id lobortis leo. Donec imperdiet molestie rhoncus. Suspendisse aliquam, leo et ornare maximus, quam
            odio maximus enim, eget egestas orci orci vel diam. Aliquam posuere dolor non tempor gravida. Donec a
            sodales sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis in justo id lorem tristique
            vestibulum. Maecenas ullamcorper lobortis lectus ac laoreet. Morbi eget eros non lectus aliquet sagittis.
            Proin porta dui sit amet diam pretium lobortis.
        </p>
        <p>
            <img src="http://placekitten.com/200/300" alt="Cat" style="width:304px;height:228px;">
            <img src="http://placekitten.com/g/200/300" alt="Cat" style="width:304px;height:228px;">
        </p>
    </div>


</div>
<br><br><br><br><br>
<footer class="main-footer">
    <p>All rights reserved to Moran and Efrat</p>
    <a href="#top">Back to top &raquo;</a>
</footer>
</body>
</html>



