{% extends "base.html" %}
{% block title %}RecBlast - Multi-Gene-Multi-Taxa Reciprocal Blast: Downloads{% endblock %}
{% block content %}

    <div class="jumbotron welcome-banner">
        <h1>Cloud Image</h1>
        <p>Start a RecBlast Instance On Amazon Web Services (AWS) Cloud</p>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <h6 class="lead">
                RecBlast is also available as a cloud image (AMI) on the Amazon Web Services (AWS) cloud.<br/>
                This solution was built for labs or individuals who do not currently have access to their own computational cluster,
                and would like to run an instance of RecBlast on the cloud.<br/>
                The <a href="https://aws.amazon.com">RecBlast image</a> is provided free of charge, in accordance with the AWS User Agreement.<br/>
                Once the instance is deployed, the usage is similar to the command line usage of <a href=https://github.com/neuhofmo/RecBlast>RecBlast stand alone</a>.

            </h6>
{#                </p>#}


        </div>


    </div>


{% endblock %}



