{% extends "base.html" %}
{% block title %}Documentation{% endblock %}
{% block content %}

    <div class="jumbotron welcome-banner">
        <h1>Documentation</h1>
        <p>Learn how to use RecBlast web</p>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <h3>Documentation</h3>
            <p>
                RecBlast web takes several parameters as input: <br>
                1.	Reference taxon: The reference taxon can be inserted as text (e.g. Homo sapiens) or as taxon number (e.g. 9606).
            <code>Homo Sapiens</code><br>
                2.	List of target taxa: the web server limits the amount of taxa to 10.
                The taxa list can be inserted as a list of names, taxa ids, or as a mix. The data can be inserted
                manually, or uploaded as a file. The structure of the file/text is:<br>
                <code>9606/nHydra Vulgaris/n5202</code><br>
                3.	List of biological units of interests: the user can upload a file/type names of genes, Uniprot ids,
                accession numbers, gis or a mix of them:
                <code>ADCY1\nQ08828\nXP_011291944.1</code><br>
                It is possible to upload a file with a list of genes, and it's also possible to upload a csv file
                which contains the description of the genes and the desired uniprot IDs. This is the structure of the
                csv file:
                 <code>gene name\tgene description\tuniprot id
                 </code><br>
                4.	Run Name – a name given to the specific run.
                5.	BLAST parameters: E-Value (0-10), Coverage percentage  (0-100) and Identity percentage (0-100). An optional backwards e-value can be supplied and used for the second BLAST back against the reference taxon.
                6.	String Similarity – A number between 0 to 1 representing the similarity between two given genes. A result is determined "similar enough" if its protein sequence is similar in more than 99% to the canonical protein sequence of the inspected gene, or if the similarity of the annotation of both proteins is greater than the 'string similarity' parameter defined by the user.

            </p>

            <p>In case of a problem, the browser will display the errors. It is possible to uplo </p>
            <p><code>this is a code snippet!!</code></p>
            <p>Donec a sodales sem. Interdum et malesuada fames ac ante i:</p>
            <p><code>this is a code snippet!! code more code give me code</code></p>
            <p>lis nec lectus. Quisque ultrices tincidunt augue, at lis nec lectus. Quisque ultrices tincidunt augue, at
                lis nec lectus. Quisque ultrices tincidunt augue, at stibulum. Maecenas ullamcorper lobortis lectus ac
                laoreet. Morbi eget eros non lectus aliquet sagittis. Proin por</p>
            <p><code>this is a code snippet!! code code code</code></p>

        </div>


    </div>


{% endblock %}

