{% extends "base.html" %}
{% block title %}RecBlast - Multi-Gene-Multi-Taxa Reciprocal Blast: Documentation{% endblock %}
{% block content %}

    <div class="jumbotron welcome-banner">
        <h1>Documentation</h1>
        <p>Learn how to use RecBlast Web</p>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <h3>Documentation</h3><br><br>
            <p>
                RecBlast web takes several parameters as input: <br><br>
                1.	<strong>Reference taxon:</strong> The reference taxon can be inserted as text (e.g. Homo sapiens) or as taxon number (e.g. 9606).<br><br>
            <code>Homo sapiens</code><br><br>
                2.	<strong>List of target taxa:</strong> the web server currently limits the amount of taxa to 10.
                Please enter full and specific taxon names and ids (e.g - Hydra will not work, Hydra vulgaris will).
                The taxa list can be inserted as a list of names, taxa ids, or a mix of both separated by a new line.
                The data can be inserted manually, or uploaded as a file (csv or txt).
                An example for a correct structure:<br><br>
                <code>9606<br>Hydra vulgaris<br>5202</code><br><br>
                3.	<strong>List of biological units of interests:</strong> the user can upload a file(csv or txt)/type
                names of genes (preferably as appear in their UniProt Entry Name), UniProt IDs,
                accession numbers, GIs or a a mix of the above separated by a new line.
                An example for a correct structure:<br><br>
                <code>ADCY1_MOUSE<br>Q08828<br>XP_011291944.1</code><br><br>
                4.	<strong>Run Name:</strong> a name given to the specific run.<br><br>
                5.	<strong>Email:</strong> User's email. Please notice that each user is permitted to send only one job at a time.<br><br>
                6.	<strong>BLAST parameters:</strong> E-Value (0-10), Coverage percentage (0-100) and Identity percentage (0-100).
                    <br>An optional backwards e-value can be supplied and used for the second BLAST back against the reference taxon.<br><br>
                7.	<strong>String Similarity:</strong> The String Similarity attribute enables the user to compare proteins not only based on their sequence,
                but also based on the similarity of their annotations.<br><br>
                Protein annotations are often long and contain several definitions/names, and two orthologous protein
                sequences will unnecessarily share an annotation that is 100% identical. The String Similarity parameter
                is a number between 0-1 that determines how similar two annotations should be in order to be considered
                synonymous. We found 0.4 to give the best results (=40% annotation similarity), but the parameter is
                configurable.<br><br>

            </p><p><a href="/explain">Click here</a> for more information about the structure of the results file</p><br><br>
            <p>If you encounter any problem, please contact us:<br>
            <a href="mailto:recblast@gmail.com">recblast@gmail.com</a></p>

        </div>


    </div>


{% endblock %}

