{% extends "base.html" %}
{% block title %}RecBlast - Multi-Gene-Multi-Taxa Reciprocal Blast: Downloads{% endblock %}
{% block content %}

    <div class="jumbotron welcome-banner">
        <h1>Downloads</h1>
        <p>Download the standalone version</p>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <table id="t01" class="table table-bordered">
                <tr>
                    <th>Version</th>
                    <th>Last Update</th>
                    <th>Link</th>
                </tr>
                <tr>
                    <td>Standalone</td>
                    <td>10/07/16</td>
                    <td><a href="http://www.github.com">github repo</a></td>
                </tr>
            </table>
        </div>


    </div>


{% endblock %}



