{% extends "base.html" %}
{% block title %}Downloads{% endblock %}
{% block content %}

    <div class="jumbotron welcome-banner">
        <h1>Downloads</h1>
        <p>The people behind RecBlast</p>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <table id="t01" class="table table-bordered">
                <tr>
                    <th>Version</th>
                    <th>Last Update</th>
                    <th>Link</th>
                </tr>
                <tr>
                    <td>Standalone 1.1</td>
                    <td>22/06/16</td>
                    <td>download.rar</td>
                </tr>
                <tr>
                    <td>Source Code</td>
                    <td>20/06/16</td>
                    <td>code.zip</td>
                </tr>
                <tr>
                    <td>Another version</td>
                    <td>2/06/16</td>
                    <td>click and download</td>
                </tr>
            </table>
        </div>


    </div>


{% endblock %}



