{% extends "base.html" %}
{% block title %}RecBlast - Multi-Gene-Multi-Taxa Reciprocal Blast: Results Explanation{% endblock %}
{% block content %}
<link rel="stylesheet" href="/css/extras.css">
    <div class="jumbotron welcome-banner">
        <h1>Results Explanation</h1>
        <p>Learn how to read RecBlasts results</p>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <h3>Result files</h3><br><br>
            <p>Once your results are ready, you will be notified via email and a link valid for 7 days will be generated for you.
               Using this link, you will be able to download a file (output.zip) with two types of files:
            <ul>
            <li> <p>CSV files:  RecBlast generates three CSV files, one containing the RBH results, one containing STRICT results
                and one containing NON STRICT results.  Each cell in the csv file contains the number of putative orthologues
                discovered for the inspected gene and taxa combination. For example, 5 putative orthologues were discovered for
                the human gene PSMC2 in Daphnia magna:</p> <br/><br/>
                <img src="/imgs/strictcsv.png" alt="" class="img img-thumbnail"/>
        <br/><br/>

                <p>In the RBH output files, the results are binary. 1 means that a putative orthologue has been found, 0 means that
                no putative orthologue has been found:</p><br/><br/>
                <img src="/imgs/rbhcsv.png" alt="" class="img img-thumbnail"/><br/><br/>
            </li><br>
            <li>
                2.	FASTA files – for each gene, a FASTA file containing the sequences of all matches is provided
                    (RBH, STRICT and NON-STRICT).

            </li>
            <li>
                3.	Graphs – per each strictness level, 6 different visualizations will be automatically produced:
            <li>
            a. Heatmap
        </li>
            <li>
                b. Clustermap
            </li>
            <li>
                c. Barplot
            </li>
            <li>
                d. Barplot - Orthologue by gene, grouped by species
            </li>
            <li>
                e. Swarmplot
            </li>
            <li>
                f. Barplot - Sum of all orthologues per every species
            </li>


            </li>
            </ul>
            </p>
            <br><br>
            <h3>What do the different strictness levels mean?</h3><br><br>
            <p>
                RecBlast works in three degrees of flexibility: RBH, STRICT and NON-STRICT mode.  RBHs are selected
                only when the first match (per species) from the first BLAST is successfully blasted back against the
                reference genome. When considering RBH, the program only cares about the highest scoring match it sees - the
                quantity of matches does not matter. For example, it doesn't matter if gene1 has 200 successful matches
                against Mus Musculus, but only 20 successful matches against Danio Rerio – the only match that matters
                is the first match).
            </p>
            <br/><br/>
            <img src="/imgs/rbh.png" alt="" class="img-responsive img-thumbnail"/>
            <br><br>
            <p>
                "Strict" matches do take into account the amount of successful matches. Not only the highest scoring first
                match is taken into account, but also all other matches that passed the quality threshold. Therefore, if
                gene1 has 200 successful matches against Mus Musculus, the maximum "strict" score possible is 200 (And not 1, like RBH):
            </p>
            <br/><br/>
            <img src="/imgs/strict.png" alt="" class="img-responsive img-thumbnail"/>
            <br/><br/>
            <p>
                "Non-Strict Matches" calculates successful matches slightly differently; this method is more flexible regarding the
                second BLAST: it's only important that the original gene (in the illustration: gene1) is present in the list of successful
                matches; it does not have to be the first, highest scoring match, it can be the second, third, fourth etc., as long as it
                passed the quality thresholds.
            </p>
            <br/><br/>
            <img src="/imgs/nonstrict.png" alt="" class="img-responsive img-thumbnail"/>
            <br/><br/>
            <p>If you encounter any problem, please contact us:<br>
            <a href="mailto:recblast@gmail.com">recblast@gmail.com</a></p>

        </div>


    </div>


{% endblock %}

