{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}

    <div class="jumbotron welcome-banner">
        <h1>Welcome to RecBlast</h1>
        <p>Reciprocal Blast for the masses</p>
    </div>



    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="page-header">
                <h1>Cloud-Based Large Scale Orthology Detection</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-1">
            <p class="lead">
                RecBlast is a cloud-based web server, which performs large-scale orthology detection across multiple
                genes and multiple taxa (MGMT). RecBlast can be used via a web server, and is also available as a
                powerful standalone software which can run on many cores simultaneously.
            </p>
        </div>
        <div class="col-md-3">
            <p class="lead">
                Start by queying a task in our system
            </p>
            <a class="btn btn-info btn-lg" href="/server" role="button">Discover Orthologues</a>
        </div>
    </div>





{% endblock %}



