{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
    <h1>Index</h1>
    <div class="container">
        <h2 class="name">Welcome to RecBlast</h2><br>
        <h1 class="subname">High throughput orthology discovery method</h1>
        <h3 id=home><a href="/">Home</a></h3>
    </div>

    <h3>High throughput Reciprocal Blast</h3>
    <p>
    <p>
        Recblast is the fastest and most robust way to discover orthologs..blah blah,Recblast is the fastest and
        most robust way to discover orthologs..blah blah,Recblast is the fastest and most robust way to discover
        orthologs..blah blah,Recblast is the fastest and most robust way to discover orthologs..blah blah,Recblast
        is the fastest and most robust way to discover orthologs.
    </p>
{% endblock %}



